<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zeitpunkte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
</head>
<div class="container">
    <br/>
    <h2>Daten hinzufügen</h2>
    <br/>
    <p>
        <button type="button" class="btn btn-default" ng-click="goBack()"><span
                class="glyphicon glyphicon-chevron-left"></span> Zurück
        </button>
    </p>
    <form class="form-horizontal" name="appointmentCreateForm" ng-controller="appointmentCreateController">

        <div class="row">
            <div class="col-sm-4">
                <label>Stundenplan von Montag, den:</label>
                <div required uib-datepicker ng-model="appointment.start" datepicker-options="datepickerOptionsMonday"
                     ng-model-options="{ timezone: '-0000'}"></div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <label>bis Sonntag, den: </label>
                <div required uib-datepicker ng-model="appointment.end" datepicker-options="datepickerOptionsSunday"
                     ng-model-options="{ timezone: '-0000'}"></div>
            </div>
        </div>
        <button style="margin-bottom:20px" type="button" class="btn btn-default"
                ng-disabled="appointmentCreateForm.$invalid"
                ng-click="saveAppointment()"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern
        </button>
        <form/>

