<!DOCTYPE html>
<html lang="en">
<head>
    <title>Zeitpunkte</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="css/bootstrap.css" rel="stylesheet"/>
    <link href="css/navbar.css" rel="stylesheet"/>
    <link href="css/common.css" rel="stylesheet"/>
</head>
<div class="container"></div>
    <br/>
    <h2>Daten hinzufügen</h2>
    <br/>
    <p>
        <button type="button" class="btn btn-default" ng-click="goBack()"><span
                class="glyphicon glyphicon-chevron-left"></span> Zurück
        </button>
    </p>
    <form class="form-horizontal" name="appointmentCreateForm" ng-controller="appointmentCreateController">
       <!-- <fieldset  data-ng-repeat="choice in choices">
            <input type="text" ng-model="choice.name" name="" placeholder="Enter mobile number">
            <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
        </fieldset>-->
        <fieldset class="row" ng-repeat="choice in choices">
            <div class="col-sm-4">
                <label>Start</label>
                <div required uib-datepicker ng-model="choice.start" class = "divdate"
                     ng-model-options="{ timezone: '-0000'}"></div>
                <input class = "datefield" ng-model="choice.starttime">
            </div>

            <div class="col-sm-4">
                <label>bis Sonntag, den: </label>
                <div required uib-datepicker ng-model="choice.end"  class = "divdate"
                     ng-model-options="{ timezone: '-0000'}"></div>
                <input class = "datefield" ng-model="choice.endtime">
            </div>

            <button class="remove" ng-show="$last" ng-click="removeChoice()">-</button>
        </fieldset>
        <button class="addfields" ng-click="addNewChoice()">Add fields</button>
        <form/>

        <!--             <div ng-repeat="item in details" class="input-group">
                <input ng-model="item.parameterValue" type="text" class="form-control"
                   id="datePickerItem_{{$index}}" datepicker-popup="shortDate"
                   is-open="opened[$index]" datepicker-options="dateOptions" current-text="Today"
                   clear-text="Clear" close-text="Close" ng-readonly="false"/>
                    <span class="input-group-btn">
                      <button type="button" class="btn btn-default" ng-click="openDatePicker($event, $index)">
                          <i class="glyphicon glyphicon-calendar"></i>
                      </button>
                    </span>
            </div>-->


        <button style="margin-bottom:20px" type="button" class="btn btn-default"
                ng-disabled="appointmentCreateForm.$invalid"
                ng-click="saveAppointment()"><span class="glyphicon glyphicon-floppy-disk"></span> Speichern
        </button>


        <!-- <div class="container">
        -->

        <!--        <div class="row">
        <div class="col-sm-4">
            <label>Stundenplan von Montag, den:</label>
            <div required uib-datepicker ng-model="appointment.start" datepicker-options="datepickerOptionsMonday"
                 ng-model-options="{ timezone: '-0000'}"></div>
        </div>
        <div class="col-sm-1"></div>
        <div class="col-sm-4">
            <label>bis Sonntag, den: </label>
            <div required uib-datepicker ng-model="appointment.end" datepicker-options="datepickerOptionsSunday"
                 ng-model-options="{ timezone: '-0000'}"></div>
        </div>-->

        <!--         <div class="row">
            <div class="col-sm-4">
                <label>Beginn:</label>
                <div required uib-datepicker ng-model="appointment.start" datepicker-options="datepickerOptionsMonday"
                     ng-model-options="{ timezone: '-0000'}"></div>
            </div>
            <div class="col-sm-1"></div>
            <div class="col-sm-4">
                <label>Ende: </label>
                <div required uib-datepicker ng-model="appointment.end" datepicker-options="datepickerOptionsSunday"
                     ng-model-options="{ timezone: '-0000'}"></div>
            </div>
        </div>-->
</div>